Repository inspectIT/inspectit-ocelot, pull requests merged in 2019-08, with the labels that each got.

#328 Prevent overwriting selected file content when creating new files
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/configuration/actions.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/configuration/reducers.js
Labels: area/config-ui

#333 Closes #332: Fix wrong configuration of eum-server bootRun task; Fix …
  components/inspectit-ocelot-eum-server/build.gradle
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/metrics/GeolocationResolver.java
Labels: area/eum-server

#341 Code clean-up and refactoring of the EUM server project
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/EUMServerApplication.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/configuration/BeanConfiguration.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/configuration/model/BeaconMetricDefinition.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/configuration/model/EumServerConfiguration.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/configuration/model/EumTagsSettings.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/exporters/PrometheusExporterService.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/metrics/BeaconPreProcessor.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/metrics/GeolocationResolver.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/metrics/MeasuresAndViewsManager.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/model/config/EUMTagsSettings.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/service/BeaconController.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/utils/DefaultTags.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/utils/IPUtils.java
  components/inspectit-ocelot-eum-server/src/main/resources/application.yml
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/configuration/model/EumTagsSettingsTest.java
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/exporters/PrometheusExporterServiceIntTest.java
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/metrics/GeolocationResolverIntTest.java
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/metrics/MeasuresAndViewsManagerTest.java
  inspectit-ocelot-documentation/docs/enduser-monitoring/enduser-monitoring-server.md
Labels: area/eum-server

#347 Lowered refresh rate of dashboards of the demo scenarios
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/http-overview-influxql.json
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/jvm-metrics.json
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/self-monitoring.json
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/service-graph-influxql.json
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/system-metrics.json
  inspectit-ocelot-demo/grafana/provisioning/prometheus/dashboards/http-overview.json
  inspectit-ocelot-demo/grafana/provisioning/prometheus/dashboards/jvm-metrics.json
  inspectit-ocelot-demo/grafana/provisioning/prometheus/dashboards/self-monitoring.json
  inspectit-ocelot-demo/grafana/provisioning/prometheus/dashboards/service-graph.json
  inspectit-ocelot-demo/grafana/provisioning/prometheus/dashboards/system-metrics.json
Labels: area/demo

#348 Closes #336 - Remove example files from configuration server UI project
  components/inspectit-ocelot-configurationserver-ui/src/components/example/Clock.js
  components/inspectit-ocelot-configurationserver-ui/src/components/example/Counter.js
  components/inspectit-ocelot-configurationserver-ui/src/components/example/Examples.js
  components/inspectit-ocelot-configurationserver-ui/src/pages/example.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/clock/actions.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/clock/index.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/clock/reducers.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/clock/selectors.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/clock/types.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/index.js
Labels: area/config-ui

#345 Closes #276: Renew authetication token when expired
  components/inspectit-ocelot-configurationserver-ui/src/components/common/AuthenticationRouter.js
  components/inspectit-ocelot-configurationserver-ui/src/data/constants.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/authentication/actions.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/authentication/index.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/authentication/reducers.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/authentication/types.js
Labels: area/config-ui

#363 Adding SSL documentation
  inspectit-ocelot-documentation/docs/config-server/configuration.md
  inspectit-ocelot-documentation/website/sidebars.json
Labels: area/documentation

#355 Option to define custom IP address ranges in the EUM server
  components/inspectit-ocelot-eum-server/build.gradle
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/configuration/model/EumTagsSettings.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/metrics/BeaconPreProcessor.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/utils/IPUtils.java
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/configuration/model/EumTagsSettingsTest.java
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/metrics/BeaconPreProcessorTest.java
  inspectit-ocelot-documentation/docs/enduser-monitoring/enduser-monitoring-server.md
Labels: area/eum-server

#361 Added some LDAP improvements
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/error/exceptions/NotSupportedWithLdapException.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/rest/users/AccountController.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/rest/users/UserController.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/security/userdetails/LdapUserRegistration.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/user/UserRepository.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/user/UserService.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/error/GlobalExceptionHandlerTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/users/AccountControllerIntTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/security/userdetails/LdapUserRegistrationTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/user/UserServiceTest.java
Labels: area/config-server
