Repository inspectIT/inspectit-ocelot, pull requests merged in 2021-01, with the labels that each got.

#965 Closes #964 - Change the log level for failed authentications
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/filters/AccessLogFilter.java
Labels: area/config-server

#970 Closes #966 - Resolve 'rt.bmr' data send by Boomerang plugin RT
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/beacon/processor/CsvExpanderBeaconProcessor.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/beacon/processor/CsvKeyValueExpanderBeaconProcessor.java
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/beacon/processor/CsvExpanderBeaconProcessorTest.java
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/beacon/processor/CsvKeyValueExpanderBeaconProcessorTest.java
Labels: area/eum-server, enhancement

#972 Closes #971 - Extend the "illegal tag value" error message, to specify which tag is concerned.
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/metrics/BeaconMetricManager.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/metrics/MeasuresAndViewsManager.java
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/utils/TagUtils.java
  components/inspectit-ocelot-eum-server/src/test/java/rocks/inspectit/oce/eum/server/utils/TagUtilsTest.java
Labels: area/eum-server, enhancement

#922 Extending the configuration server and its UI to view existing configuration versions and their contents
  .github/workflows/configurationserver_test.yml
  components/inspectit-ocelot-configurationserver-ui/src/components/editor/AceEditor.js
  components/inspectit-ocelot-configurationserver-ui/src/components/editor/EditorView.js
  components/inspectit-ocelot-configurationserver-ui/src/components/editor/SelectionInformation.js
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/ConfigurationSidebar.js
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/ConfigurationView.js
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/FileToolbar.js
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/FileTree.js
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/history/HistoryView.js
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/history/VersionItem.js
  components/inspectit-ocelot-configurationserver-ui/src/components/views/mappings/editComponents/EditSources.js
  components/inspectit-ocelot-configurationserver-ui/src/data/constants.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/configuration/actions.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/configuration/reducers.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/configuration/selectors.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/configuration/types.js
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/initial-states.js
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/FileManager.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/versioning/VersioningManager.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/versioning/model/WorkspaceVersion.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/rest/file/DirectoryController.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/rest/file/FileController.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/rest/versioning/VersioningController.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/IntegrationTestBase.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/file/versioning/VersioningManagerTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/file/DirectoryControllerIntTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/file/DirectoryControllerTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/file/FileControllerIntTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/versioning/VersioningControllerIntTest.java
Labels: area/config-server, area/config-ui, enhancement
