Repository inspectIT/inspectit-ocelot, pull requests merged in 2021-07, with the labels that each got.

#1123 Refactoring of the agent command command classes structure
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/agentcommunication/AgentCallbackManager.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/agentcommunication/handlers/CommandHandler.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/agentcommunication/handlers/impl/ListClassesHandler.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/agentcommunication/handlers/impl/PingCommandHandler.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/rest/agent/AgentController.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/agentcommunication/AgentCallbackManagerTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/agentcommunication/handlers/impl/PingCommandHandlerTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/agent/AgentControllerIntTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/agent/AgentControllerTest.java
  inspectit-ocelot-config/src/main/java/rocks/inspectit/ocelot/commons/models/command/Command.java
  inspectit-ocelot-config/src/main/java/rocks/inspectit/ocelot/commons/models/command/CommandResponse.java
  inspectit-ocelot-config/src/main/java/rocks/inspectit/ocelot/commons/models/command/impl/ListClassesCommand.java
  inspectit-ocelot-config/src/main/java/rocks/inspectit/ocelot/commons/models/command/impl/PingCommand.java
  inspectit-ocelot-config/src/main/java/rocks/inspectit/ocelot/commons/models/command/response/impl/ListClassesResponse.java
  inspectit-ocelot-config/src/main/java/rocks/inspectit/ocelot/commons/models/command/response/impl/PingResponse.java
  inspectit-ocelot-core/src/main/java/rocks/inspectit/ocelot/core/command/CommandDelegator.java
  inspectit-ocelot-core/src/main/java/rocks/inspectit/ocelot/core/command/CommandHandler.java
  inspectit-ocelot-core/src/main/java/rocks/inspectit/ocelot/core/command/HttpCommandFetcher.java
  inspectit-ocelot-core/src/main/java/rocks/inspectit/ocelot/core/command/handler/CommandExecutor.java
  inspectit-ocelot-core/src/main/java/rocks/inspectit/ocelot/core/command/handler/impl/ListClassesCommandExecutor.java
  inspectit-ocelot-core/src/main/java/rocks/inspectit/ocelot/core/command/handler/impl/PingCommandExecutor.java
  inspectit-ocelot-core/src/test/java/rocks/inspectit/ocelot/core/command/CommandHandlerTest.java
  inspectit-ocelot-core/src/test/java/rocks/inspectit/ocelot/core/command/handler/impl/ListClassesCommandExecutorTest.java
  inspectit-ocelot-core/src/test/java/rocks/inspectit/ocelot/core/command/handler/impl/PingCommandExecutorTest.java
Labels: area/agent

#1117 Closes #1067 - UI-Files are now displayed with a cog-symbol in the file browser
  components/inspectit-ocelot-configurationserver-ui/src/redux/ducks/configuration/selectors.js
  components/inspectit-ocelot-configurationserver/build.gradle
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/FileInfo.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/FileInfoVisitor.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/FileManager.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/accessor/workingdirectory/CachingWorkingDirectoryAccessor.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/accessor/workingdirectory/WorkingDirectoryAccessor.java
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/rest/file/DirectoryController.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/IntegrationTestBase.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/file/FileManagerTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/file/accessor/workingdirectory/CachingWorkingDirectoryAccessorTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/file/DirectoryControllerIntTest.java
Labels: area/config-server, enhancement

#1151 Fix nullPointer Exception in file type resolver
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/file/FileInfoVisitor.java
Labels: area/config-server, bug
