Repository inspectIT/inspectit-ocelot, pull requests merged in 2021-12, with the labels that each got.

#1253 Upgrade Log4J dependency for system tests
  inspectit-ocelot-agent/build.gradle
Labels: area/general

#1224 Closes #1201 - Update the demo to include the EUM Server
  components/inspectit-ocelot-eum-server/build.gradle
  components/inspectit-ocelot-eum-server/docker/Dockerfile
  components/inspectit-ocelot-eum-server/docker/entrypoint.sh
  components/inspectit-ocelot-eum-server/gradle.properties
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/rest/TraceController.java
  inspectit-ocelot-demo/configuration-server/files/all/validatePetType.yml
  inspectit-ocelot-demo/docker-compose-influxdb-jaeger.yml
  inspectit-ocelot-demo/docker-compose-influxdb-zipkin.yml
  inspectit-ocelot-demo/docker-compose-prometheus-jaeger.yml
  inspectit-ocelot-demo/grafana/provisioning/home-dashboard/home.json
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/dashboards.yml
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/eum-server/Beacons.json
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/eum-server/Traces.json
  inspectit-ocelot-demo/grafana/provisioning/influxdb/datasources/influxdb.yml
  inspectit-ocelot-demo/influx/continous-queries.iql
  inspectit-ocelot-demo/prometheus/prometheus.yml
  inspectit-ocelot-documentation/docs/assets/demo-dashboard-beacons.png
  inspectit-ocelot-documentation/docs/assets/demo-dashboard-beacons_small.png
  inspectit-ocelot-documentation/docs/assets/demo-dashboard-trace-controller.png
  inspectit-ocelot-documentation/docs/assets/demo-dashboard-trace-controller_small.png
  inspectit-ocelot-documentation/docs/assets/demo-landscape-influxdb-jaeger.png
  inspectit-ocelot-documentation/docs/assets/demo-landscape-influxdb-zipkin.png
  inspectit-ocelot-documentation/docs/assets/demo-landscape-prometheus-jaeger.png
  inspectit-ocelot-documentation/docs/getting-started/docker-examples.md
Labels: area/eum-server, area/demo

#1258 Bump Boomerang version of EUM server
  components/inspectit-ocelot-eum-server/gradle.properties
Labels: area/eum-server

#1261 Catching exception while checking configuration dependencies
  inspectit-ocelot-core/src/main/java/rocks/inspectit/ocelot/core/service/DynamicallyActivatableService.java
Labels: area/agent
