Repository inspectIT/inspectit-ocelot, pull requests merged in 2021-08, with the labels that each got.

#1194 Closes #1178 - Allow different HTTP methods for the configuration server's synchronization hook endpoint
  components/inspectit-ocelot-configurationserver/src/main/java/rocks/inspectit/ocelot/rest/hook/WebhookController.java
Labels: enhancement, area/config-server

#1197 Closes #1093 - The demo app doesn't work
  inspectit-ocelot-demo/.env
  inspectit-ocelot-demo/docker-compose-influxdb-jaeger.yml
  inspectit-ocelot-demo/docker-compose-influxdb-zipkin.yml
  inspectit-ocelot-demo/docker-compose-prometheus-jaeger.yml
  inspectit-ocelot-demo/docker-compose-wavefront-zipkin.yml
  inspectit-ocelot-demo/grafana/provisioning/influxdb/dashboards/dashboards.yml
  inspectit-ocelot-demo/grafana/provisioning/prometheus/dashboards/service-graph.json
  inspectit-ocelot-demo/load/docker-entrypoint.sh
Labels: bug, area/demo

#1198 Closes #1193 - Update the documentation to include the changes to the demo
  README.md
  inspectit-ocelot-documentation/docs/assets/demo-landscape-influxdb-jaeger.png
  inspectit-ocelot-documentation/docs/breaking-changes/breaking-changes.md
  inspectit-ocelot-documentation/docs/getting-started/docker-examples.md
Labels: enhancement, area/documentation
