Repository inspectIT/inspectit-ocelot, pull requests merged in 2022-03, with the labels that each got.

#1340 feat(ui): reload documentation when configuration files are changed
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/documentation/DocumentationView.js
  components/inspectit-ocelot-configurationserver-ui/src/hooks/use-fetch-data.js
Labels: enhancement, area/config-ui

#1341 feat(ui): ability to filter configuration docs
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/documentation/ConfigDocumentation.js
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/documentation/DocumentationView.js
  components/inspectit-ocelot-configurationserver-ui/src/hooks/use-debounce.js
Labels: enhancement, area/config-ui

#1364 feat: upgrade lombok to the latest version
  components/inspectit-ocelot-configdocsgenerator/build.gradle
  components/inspectit-ocelot-configurationserver/build.gradle
  components/inspectit-ocelot-eum-server/build.gradle
  gradle.properties
  inspectit-ocelot-agent/build.gradle
  inspectit-ocelot-bootstrap/build.gradle
  inspectit-ocelot-config/build.gradle
  inspectit-ocelot-core/build.gradle
  inspectit-ocelot-sdk/build.gradle
Labels: area/general

#1365 feat: upgrading the Gradle wrapper to version 7.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  inspectit-ocelot-agent/src/system-test/java/rocks/inspectit/ocelot/instrumentation/correlation/log/LogCorrelationTest.java
  inspectit-ocelot-agent/src/system-test/java/rocks/inspectit/ocelot/utils/TestUtils.java
Labels: area/general

#1368 feat(ci): including Java 17 into the ci process
  .github/workflows/agent_test.yml
  inspectit-ocelot-core/build.gradle
  inspectit-ocelot-core/src/test/java/rocks/inspectit/ocelot/core/metrics/MeasuresAndViewsManagerTest.java
Labels: enhancement, area/general

#1362 fix(configdocsgenerator): use Spring to parse Yaml into InspectitConfig
  .github/workflows/configdocsgenerator_test.yml
  THIRD-PARTY-LICENSES.txt
  components/inspectit-ocelot-configdocsgenerator/build.gradle
  components/inspectit-ocelot-configdocsgenerator/src/main/java/inspectit/ocelot/configdocsgenerator/ConfigDocsGenerator.java
  components/inspectit-ocelot-configdocsgenerator/src/main/java/inspectit/ocelot/configdocsgenerator/parsing/ConfigParser.java
  components/inspectit-ocelot-configdocsgenerator/src/main/java/inspectit/ocelot/configdocsgenerator/parsing/NestedMapStringSubstitutor.java
  components/inspectit-ocelot-configdocsgenerator/src/test/java/inspectit/ocelot/configdocsgenerator/ConfigDocsGeneratorTest.java
  components/inspectit-ocelot-configdocsgenerator/src/test/java/inspectit/ocelot/configdocsgenerator/parsing/ConfigParserTest.java
  components/inspectit-ocelot-configurationserver/src/test/java/rocks/inspectit/ocelot/rest/configuration/ConfigurationControllerTest.java
Labels: bug, area/config-server
