Repository inspectIT/inspectit-ocelot, pull requests merged in 2022-04, with the labels that each got.

#1379 Closes #1378 - Preserve whitespaces in Configuration Docs
  components/inspectit-ocelot-configurationserver-ui/src/components/views/configuration/documentation/BaseDocsElement.js
Labels: area/config-ui

#1367 feat: generate SBOM file for releases
  .circleci/config.yml
  components/inspectit-ocelot-configurationserver/build.gradle
  components/inspectit-ocelot-eum-server/build.gradle
  gradle.properties
  inspectit-ocelot-core/build.gradle
Labels: enhancement, area/general

#1388 Closes #1387 - Migrate Algolia DocSearch
  inspectit-ocelot-documentation/website/siteConfig.js
Labels: area/documentation

#1390 Fix editUrl of the Ocelot end-user documentation
  inspectit-ocelot-documentation/website/siteConfig.js
Labels: area/documentation

#1380 Closes #1351 - Add documentation for configuration docs and code style
  inspectit-ocelot-documentation/docs/assets/config-docs-button.png
  inspectit-ocelot-documentation/docs/assets/config-docs-dropdown.png
  inspectit-ocelot-documentation/docs/assets/config-docs-filter.png
  inspectit-ocelot-documentation/docs/config-server/config-docs.md
  inspectit-ocelot-documentation/docs/instrumentation/code-style.md
  inspectit-ocelot-documentation/website/sidebars.json
Labels: area/documentation

#1402 Remove redundant lookup of forward headers
  components/inspectit-ocelot-eum-server/src/main/java/rocks/inspectit/oce/eum/server/beacon/processor/CountryCodeBeaconProcessor.java
Labels: area/eum-server
